body{
    font-family: Arial;
    background-color: #f3f4f6;
}

.hero{
    background: linear-gradient(to right, blue, purple);
}

.join-btn{
    background-color: white;
    color: blue;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}

.join-btn:hover{
    background-color: lightgray;
}

.service-card{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px gray;
    transition: 0.3s;
}

.service-card:hover{
    transform: scale(1.05);
}